.comparer-feature-header {
    padding: 5px;
}

.comparer-feature-header hr {
    margin: 5px;
}

.comparer-feature-list .comparer-feature-col, .comparer-feature-col-fields {
    float: left;
    margin: 1px;
    min-width: 100px;
}

.comparer-feature-list .comparer-feature-col{
    width:450px;
}

.comparer-selection-badge {
    height: 14px;
}

.comparer-feature-remove {
    float: right;
    z-index: 1;
    color: black;
    margin-top: -2px;
    margin-right: 2px;
}

.comparer-feature li, .comparer-feature-fields li {
    padding: 2px;
}

.feature-compare-tooltip > div.dijitTooltipContainer > div {
    padding: 5px;
}

.feature-compare-tooltip .dijitTooltipContainer {
    border:1px solid gray;
    background-color: #c0c0c0;
    background-color: rgba(192,192,192, 0.85);
    border-radius: 2px;
}
.comparer-feature-col li, .comparer-feature-col-fields li{
    list-style-type: none;
    
}
.comparer-feature-col ul, .comparer-feature-col-fields ul{
    padding-inline-start: 0;
}